/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.textos {
  color: white; /*color de los textos*/
  padding: 50px;/*relleno por los 4 lados*/
}

.alinearCentro {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.espacio {
  height: 100px;
}

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left;
}

.col-1 {
  /*(1 / 12) * 100 */
  width: 8.333%;
}

.col-2 {
  /*(2 / 12) * 100 */
  width: 16.667%;
}

.col-3 {
  /*(3 / 12) * 100 */
  width: 25%;
}

.col-4 {
  /*(4 / 12) * 100 */
  width: 33.333%;
}

.col-5 {
  /*(5 / 12) * 100 */
  width: 41.667%;
}

.col-6 {
  /*(6 / 12) * 100 */
  width: 50%;
}

.col-7 {
  /*(7 / 12) * 100 */
  width: 58.333%;
}

.col-8 {
  /*(8 / 12) * 100 */
  width: 66.667%;
}

.col-9 {
  /*(9 / 12) * 100 */
  width: 75%;
}

.col-10 {
  /*(10 / 12) * 100 */
  width: 83.333%;
}

.col-11 {
  /*(11 / 12) * 100 */
  width: 91.666%;
}

.col-12 {
  /*(12 / 12) * 100 */
  width: 100%;
}

.link {
   font-weight: 700; /*texto: bold*/
   padding: 21px 0px; /*espacio entre los textos*/
   display: inline-block; /*cajas de bloque y en linea de forma simultanea*/
 }
