/*
 * Ingresa el CSS del proyecto en este archivo
 */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

header {
   position: fixed;
   background: white;
   width: 100%;
 }

.logo {
   width: 70px;
   text-align: left;
 }

#home {
  background-image: url(../images/bg-home.jpg);/*imagen de portada*/
  background-position: center;/*imagen centrada*/
  background-repeat: no-repeat;/*para que no repita la imagen de fondo*/
  background-size: cover;/*cubre todo el contenedor*/
  height: 600px;/*Altura del home*/
}

.text-home {
  font-size: 50px;/*tamaño de la tipografia*/
}

.btn-home {
  background: #2ECC71;/*color del fondo*/
  color: #fff;/*color del texto*/
  padding: 11px 20px;/*relleno en el boton de arriba-abajo y derecha-izquierda*/
  border-radius: 1px; /*redondear el borde*/
  font-weight: 500;
  margin-top: 53px;
  display: inline-block;
  font-size: 14px; /*tamaño de la letra*/
}

#services {
  background-color: #F17C72; /*Color para el fondo*/
  color: #fff;
  padding: 80px 7px;
}
